{% extends 'base.html.twig' %}

{% block title %}Créer un produit{% endblock %}

{% block body %}
<h1>Créer un produit</h1>
<a href="{{ path('liste_product') }}">Retour à la liste de produits</a>

<p>@todo : créer le formulaire de création de produit</p>

{% endblock %}