{% extends 'base.html.twig' %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-6 text-center">
        <h1>{{ product.nom }}</h1>
        <h3>{{ product.prix }} €</h3>
      </div>
      <div class="col-md-6">
        <p>{{ product.description }}</p>
      </div>
    </div>

    <div class="text-center">
      <a href="{{ path('commande_product',{slug: product.slug}) }}" class="btn btn-info">Commander le produit</a>
    </div>
  </div>
{% endblock %}